
/* Color Pallete: Green: #2F5233 Gray: #6B6E70 Red: #F73131 Light Blue: #4EA8DE */


* {
    margin: 0;
    
}

/* Reusables */ 
.section-divider{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2em 0;
}
.section-divider::before,
.section-divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid black;
}
.section-divider span{
    margin: 0 16px;
    font-weight: bold;
}

.section-divider.left::before{
    flex: 0;
    width: 0;
}
.section-divider.left::after{
    flex: 1;
}
.section-divider.left span{
    margin-left: 0;
    margin: 0 16px;
    font-weight: bold;
}

.section-divider.right::after{
    flex: 0;
    width: 0;
}
.section-divider.right::before{
    flex: 1;
}
.section-divider.right span{
    margin-right: 0;
    margin: 0 16px;
    font-weight: bold;
}

.learn-more-button{
    transition: transform 0.2s ease;
}
.learn-more-button:hover{
    transform: scale(1.1);
}
.learn-more-button a{
    color: black;
    text-decoration: none;
} 



/* header section */
header{
    background-color: #2F5233;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    height: 85px;

}
nav a{
    color: white;
    background-color:#2F5233;

    text-decoration: none;
    align-items: center;

    margin: 1em;
}
/* I need to make this transform like the buttons do so it doesn't make everything in the flex box move */
nav a:hover{
    color: gray;
    font-size: 105%;
}
header img{
    height: auto;
    width: 150px;

    position: absolute;
    right: 0;

    margin: 2em;
    
}

main{
    display: flex;
    flex-direction: column;
}

/* Hero Section */
#hero{
    width: 80%;
    align-self: center;
    margin: 2em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}
#hero img{
    width: 80%;
    height: auto;
    align-self: center;

    display: block;
}
#hero h1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
}
#hero h3{
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
} 
#hero button{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero button:hover{
    transform: translate(-50%, -50%) scale(1.3);
}

/* About Rock Climbing Section */
#about-climbing{
    display: flex;
    justify-content: space-around;
} 
#what-is{
    margin: 0 3em;
    padding: 1em;
    width: 100%;
    height: auto;

    border: 2px solid black;

    background-color: rgb(107, 110, 112, .5);
    box-shadow: 5px 5px 10px gray;
}
#what-is h3{
    margin: 5px;
}

#wht-enjoy{
    margin: 0 3em;
    padding: 1em;
    width: 100%;
    height: auto;

    border: 2px solid black;

    background-color: rgb(107, 110, 112, .5);
    box-shadow: 5px 5px 10px gray;
}
#wht-enjoy h3{
    margin: 5px;
}



/*What you will find on this site section*/ 
#about-site{
    display: flex;
    justify-content: space-around;
}
#begin-guide{
    margin: 0 3em;
    padding: 1em;
    width: 100%;
    height: auto;

    border: 2px solid black;

    display: flex;
    flex-direction: column;
    
    background-color: rgb(107, 110, 112, .5);
    box-shadow: 5px 5px 10px gray;
}
#begin-guide button{
    align-self: center;
}
#begin-guide h3{
    align-self: center;
}
#begin-guide hr{
    margin: .5em;
}
#gear{
    margin: 0 3em;
    padding: 1em;
    width: 100%;
    height: auto;

    border: 2px solid black;

    display: flex;
    flex-direction: column;


    background-color: rgb(107, 110, 112, .5);
    box-shadow: 5px 5px 10px gray;

}
#gear button{
    align-self: center;
}
#gear h3{
    align-self: center;
}
#gear hr{
    margin: .5em;
}
#about-benefits{
    margin: 0 3em;
    padding: 1em;
    width: 100%;
    height: auto;

    border: 2px solid black;

    display: flex;
    flex-direction: column;

    background-color: rgb(107, 110, 112, .5);
    box-shadow: 5px 5px 10px gray;
}
#about-benefits button{
    align-self: center;
}
#about-benefits h3{
    align-self: center;
}
#about-benefits hr{
    margin: .5em;
}


/* benefits section */
#benefits{
    display: flex;
    justify-content: space-around;
}
#build-strength{
    margin: 0 3em;
    padding: 1em;
    width: 100%;
    height: auto;

    border: 2px solid black;

    display: flex;
    flex-direction: column;

    background-color: rgb(107, 110, 112, .5);
    box-shadow: 5px 5px 10px gray;
}
#build-strength h3{
    align-self: center;
}
#build-strength hr{
    margin: .5em;
}
#improve-balance{
    margin: 0 3em;
    padding: 1em;
    width: 100%;
    height: auto;

    border: 2px solid black;

    display: flex;
    flex-direction: column;

    background-color: rgb(107, 110, 112, .5);
    box-shadow: 5px 5px 10px gray;
}
#improve-balance h3{
    align-self: center;
}
#improve-balance hr{
    margin: .5em;
}
#fun{
    margin: 0 3em;
    padding: 1em;
    width: 100%;
    height: auto;

    border: 2px solid black;

    display: flex;
    flex-direction: column;

    background-color: rgb(107, 110, 112, .5);
    box-shadow: 5px 5px 10px gray;
}
#fun h3{
    align-self: center;
}
#fun hr{
    margin: .5em;
}


/* Footer Section */
footer{
    margin-top: 1em;
    height: 85px;

    background-color:  #2F5233;
    
    display: flex;
    justify-content: space-around;
}
